*{
margin: 0px;
padding: 0px;
width: 100%;
height: 100%;   
/* overflow: hidden;  */
}
    /*BackGround landingpage*/
.landingPage {
    background-image: url("Images/holiday.jpg");
    background-size: 100%, 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: block;  
} 
    /*Title Landingpage*/
.landingPage h1{
    height:  200px; 
    font-family: 'Julius Sans One', sans-serif; 
    font-weight: normal;
    font-size: 80px;
    letter-spacing: -0.03em;
    text-align: center;
    color: black;
    padding-top: 200px;
    display: block;
}
    /*Img Landingpage*/
img {
    display:block;
    width: 15%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}
    /*Buttom Landingpage*/
.landingPage a{
    text-decoration: none;
    display: block;
    font-family: 'Staatliches', cursive;
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin:auto;
    background-color:#49a5bf; 
    color: white;
    transition: 2s;
    -webkit-transition: 1s;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.landingPage a:hover {
    background-color: grey;
    width: 300px;
}
    
    /*Cipher Page */
#general {
    margin-top: 50px;
    margin: auto;
    width: 960px;
    height:  100%;
    background-color: white;
    background-image: -webkit-linear-gradient(160deg, whitesmoke 50%, white  50%);
    /* min-height: 600px; */
} 
    
.encabezado {
    margin: auto;
    width: 960px;
    height: 80px;
    display: block;    
}
.encabezado img{
    float: left;
    width: 300px;
    height: 50px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color:transparent;
}
.encabezado h1{
    height:  60px; 
    width: 600px;
    font-family: 'Julius Sans One', sans-serif; 
    font-weight: normal;
    font-size: 60px;
    letter-spacing: -0.01em;
    text-align: center;
    color: black;
    display: block;
    float: right;
    background-color: transparent;
    padding-top: 22px;
}
.menu {
    width: 960px;
    height: 10px;
    display: block;
    background-color: transparent;
    text-align: center;
    border-bottom: 2px grey solid;
}  

    /* Instruction box */
.informacion {
    float: right;
    width: 300px;
    height: 500px;
    padding-right: 20px;
    background-color: transparent;
}
.informacion h2{
    font-size: 30px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    padding-top: 20px;
    font-family: 'Staatliches', cursive;     
}

.informacion p{
    font-size: 20px;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
}
    /* Function box */
.body {
    width: 600px; 
    height: 500px;
} 

.body p{
    width: 400px;
    height: 30px;
    text-align:left;
    margin: auto;
    padding-top: 50px;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}
    /* textBox string and offset  */ 
.body input{
    width: 360px;
    height: 50px;
    margin-left: 150px;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-radius: 5px; 
    --webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
} 

#offset {
    width: 50px;
    height: 50px;
    margin-left: 150px;
}   
    /* buttoms cipher and decipher */   
.body a{
    text-decoration: none;
    display: block;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin:auto;
    background-color: #49a5bf; 
    color: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: 2s;
    -webkit-transition: 1s;
}
.body a:hover {
    background-color:grey;
    width: 230px;
}
    /* String Result */
#result {
    font-family:'Libre Barcode 128', cursive; 
    font-size: 80px;
    display: block;
    width: 580px;
    height: 60px;
    text-align: center;
    margin: auto;
}
#result:hover {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 50px;
}
    /* End box */
.piedepag {
    width: 960px;
    height: 260px;
    padding-top: 10px;
}
.piedepag h2{
    width: 960px;
    height: 30px;
    text-align: center;
    font-family: 'Staatliches', cursive;
}
.piedepag div{    
    margin-left: 10px;
    width: 300px;
    height: 150px;
    display: inline-block;
}

.piedepag img {
    width: 300px;
    border-radius: 5px;
    clip-path: circle(60px at 50% 80px);
    transition: clip-path 2s;
}

.piedepag img:hover {
    clip-path: circle(600px at center);
}

.piedepag p {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    display: block;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    margin-top: 20px;
    padding-top: 20px;
}
/* __________________________________________________________ */
@media screen and (max-width: 400px) {
    
    .landingPage {
        background-image: url("Images/wallpaperphone.png");
        display: block;  
    } 
    
    /*Title Landingpage*/
.landingPage h1{
    font-family: 'Julius Sans One', sans-serif; 
    font-weight: normal;
    font-size: 50px;
    letter-spacing: -0.03em;
    text-align: center;
    color: black;
    display: block;
}
    /*Img Landingpage*/
img {
    display:block;
    width: 15%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}
    /*Buttom Landingpage*/
.landingPage a{
    text-decoration: none;
    display: block;
    font-family: 'Staatliches', cursive;
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin:auto;
    background-color:#49a5bf; 
    color: white;
    transition: 2s;
    -webkit-transition: 1s;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.landingPage a:hover {
    background-color: grey;
    width: 300px;
}

/*Cipher Page */

#general {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: -webkit-linear-gradient(160deg, whitesmoke 50%, white  50%);
} 
    
.encabezado {
    margin: auto;
    width: 100%;
    height: 70px;
    /* background-color: purple; */
    display: block;    
}
.encabezado h1{
    height:  30px; 
    width: 100%;
    font-family: 'Julius Sans One', sans-serif; 
    font-size: 30px;
    letter-spacing: -0.01em;
    text-align: center;
    color: black;
    display: block;
    padding-top: 10px;
}
.encabezado img{
    width: 150px;
    height: 25px;
    padding-top: 10px;
    padding-left: 130px;
    padding-bottom: 10px;
} 

    /* Instruction box */
.informacion {
    float: left;
    width: 100%;
    height: 210px;
}
.informacion h2{
    font-size: 18px;
    height: 25px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Staatliches', cursive;    
    width: 100%;
}

.informacion p{
    font-size: 12px;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    height: 150px;
}
    /* Function box */
.body {
   
    width: 100%; 
    height: 600px;
} 

.body p{
    width: 100%; 
    height: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Staatliches', cursive;
    font-size: 17px;
    text-align: center;
}
    /* textBox string and offset  */ 
.body input{
    width: 200px;
    height: 50px;
    margin-top: 10%;
    margin-left: 90px;
    text-align: center;
    border-radius: 5px; 
    --webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
} 

#offset {
    width: 50px;
    height: 50px;
    margin-left: 160px;
    margin-top: 1%;
}   
    /* buttoms cipher and decipher */   
.body a{
    text-decoration: none;
    display: block;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin:auto;
    background-color: #49a5bf; 
    color: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: 2s;
    -webkit-transition: 1s;
}
.body a:hover {
    background-color:grey;
    width: 230px;
}
    /* String Result */
#result {
    font-family:'Libre Barcode 128', cursive; 
    font-size: 70px;
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: auto;
}
#result:hover {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 50px;
}
    /* End box */
.piedepag {
    width: 100%;
    height: 180px;
    padding-top: 10px;
}
.piedepag h2{
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: 'Staatliches', cursive;
}
.piedepag div{    
    margin-left: 20px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.piedepag img {
    width: 100px;
    border-radius: 5px;
    clip-path: circle(40px at 50% 45px);
    transition: clip-path 2s;
}

.piedepag img:hover {
    clip-path: circle(400px at center);
} 
 .piedepag p {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    display: block;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
}
}